@page
@model IndexModel
@{
    ViewData["Title"] = "PROEL";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-body p-5 text-center">

                    <h2 class="display-6 fw-bold mb-3">Explore Activity</h2>
                    <p class="text-muted mb-4">This page is for testing and Exploring with Razor pages.</p>
                </div>
            </div>

        </div>
    </div>
</div>

