/* HEADER */
.main-header {
    background-color: #000;
}

 .main-header .nav-link:hover {
        color: #00bfff !important;
  }

/* HERO */
.hero-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.profile-img {
    width: 260px;
    height: 260px;
    object-fit: cover;
}

/* QUOTE */
.quote-text {
    color: black;
}

/* PROJECT CARDS */
.project-card {
    transition: transform 0.3s ease;
}

    .project-card:hover {
        transform: translateY(-5px);
    }
