/* HEADER */
.main-header {
    background-color: #000;
}

    .main-header .nav-link:hover {
        color: #00bfff !important;
    }

/* HERO */
.hero-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.profile-img {
    width: 260px;
    height: 260px;
    object-fit: cover;
}

/* QUOTE */
.quote-text {
    color: black;
}

/* PROJECT CARDS */
.project-card {
    transition: transform 0.3s ease;
}

    .project-card:hover {
        transform: translateY(-5px);
    }

/* FOOTER */
.footer-contact {
    background-color: #000;
    color: #fff;
    padding: 20px 0; /* THIN FOOTER */
    width: 100%;
}

.footer-container {
    text-align: center;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-links {
    margin: 5px 0;
    font-size: 14px;
}

    .footer-links a {
        color: #00bfff;
        text-decoration: none;
        padding: 0 5px;
    }

        .footer-links a:hover {
            text-decoration: underline;
        }

.footer-copy {
    margin-top: 5px;
    font-size: 12px;
    opacity: 0.7;
}
